<div class="filter-area">
  (ぽ)・・・ぽけっと武将
  <div id="default-filter" class="filters">
    <button id="select_all">すべて選択</button>
    <button id="clear_all">すべて解除</button>
    <input id="select_sr" type="checkbox" checked="checked" class="large-checkbox"><label for="select_sr">SR</label>
    <input id="select_r" type="checkbox" checked="checked" class="large-checkbox"><label for="select_r">R</label>
    <input id="select_other" type="checkbox" checked="checked" class="large-checkbox"><label for="select_other">その他</label>
    <button id="show_filter" style="display:none;">更に絞込</button>
  </div>
  <div id="filter" style="display:none;" class="filters">
    <div id="filter-versions">
    </div>
    <div id="filter-rarities">
      <input id="select_normal" type="checkbox" checked="checked" class="large-checkbox"><label for="select_normal">アーケード</label>
      <input id="select_pocket" type="checkbox" checked="checked" class="large-checkbox"><label for="select_pocket">ぽけっと</label>
    </div>
  </div>
</div>
<div id="main">
</div>
<div class="header">
  <div class="close-button-wapper">
    <button id="close" class="close-button">Close</button>
  </div>
  <h3 class="title">三国志大戦 解任ブックマークレット</h3>
  <div class="copy-area">
    <button id="copy">選択した武将をコピー</button>
    <a href="https://3594t-touen.jp/recruitments/new" target="_blank">解任新規作成へ</a><small>(三国志大戦 桃園 に遷移します)</small>
  </div>
  <div id="message"></div>
</div>
