<style>
  body {
    position: relative;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 5px;
    left: 0;
    right: 0;
    padding: 0 4px;
    background-color: white;
  }

  .close-button-wapper {
    width: 100%;
    text-align: center;
  }

  .close-button {
    width: 90%;
    height: 30px;
  }

  .title {
    height: 28px;
    margin: 8px 3px;
  }

  .copy-area {
    height: 32px;
  }

  #copy {
    height: 30px;
  }

  #message {
    height: 30px;
  }

  .filter-area {
    margin-top: 142px;
  }

  .large-checkbox {
    -ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
  }

  .list-checkbox {
    width: 24px;
    height: 24px;
    margin: 10px;
  }

  .filters {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #default-filter {
    padding-left: 40px;
  }

  #filter-versions {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #filter-rarities {
    margin-bottom: 10px;
  }
</style>
